*,
*::before,
*::after {
  box-sizing: border-box;
}

.name {
  color: #000;
}

.header-sentence {
  font-family: "Tangerine";
  font-size: 36px;
  text-decoration: underline;
  text-transform: none;
}